:root {
  --mainbg: #23242a;
  --babyblue: #7acdbe;
  --blu:#45f3ff;
  --width: 400px;
  --height: 420px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transition_ease {
  transition: 3s ease;
}

@tailwind base;
@tailwind components;
@tailwind utilities;